//Colors

$white: #fdfdfd;
$grey-light: #f6f7f8;
$grey: #d0d8dc;
$grey-dark: #93a4ad;
$grey-darker: #7c909b;
$black: #283238;
$mint: #f2fef8;
$good: #a9f6d0;
$empty: #1fb6ff;

//button
$button_add: #00b0ff;
$buttons_cancel: #93a4ad;

//text
$header: 36px;
$title: 24px;
$text: 16px;

//radius
$radius: 3px;