html{
  height: 100%; 
}

body {
  font-family: 'Roboto';
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.row-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

button{
  border: none;
  background-color: inherit;
  cursor: pointer;
}

#root{
  height: 100%;
  min-height: 100%;
  overflow-y: hidden;
}

form,input{
  width: 100%;
}