body {
  font-family: 'Roboto';
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.row-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}